#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: red;
  margin-top: 60px;
}

body {
  padding: 0;
  margin: 0;
}


#slider-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
/* Slider thumb */
#slider::-webkit-slider-thumb {
    appearance: none;
    width: 50px;
    height: 50px;
  background: url('donut.png') no-repeat center center;
    cursor: pointer;
    box-shadow: 0 0 10px 2px yellow,
                0 0 20px 3px #4c00ff,
                0 0 30px 1px #0ff;

}
#slider::-moz-range-thumb {
   opacity: 0.5;
    width: 15px;
    height: 50px;
  background: url('donut.png') no-repeat center center;
    cursor: pointer;
    box-shadow: 0 0 10px 2px yellow,
                0 0 20px 3px #4c00ff,
                0 0 30px 11px #0ff;

}

/* Slider track */
#slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 20px;
    -webkit-filter: blur(3px); /* Add blur effect */
    filter: blur(1px); /* Standard syntax */
}
#slider::-moz-range-track {
    width: 100%;
    height: 10px;
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 20px;
    -webkit-filter: blur(3px); /* Add blur effect */
    filter: blur(1px); /* Standard syntax */
}

#BGbutton {
  position: absolute;
  left: 46%;
  top: 55%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #4CAF50; /* Initial button color */
}
#BGbutton:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}